<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.gallium</string>
	<key>CFBundleName</key>
	<string>Gallium</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>KLInfo_Gallium Colstag</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISIconIsTemplate</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.gallium.galliumcolstag</string>
		<key>TISIntendedLanguage</key>
		<string>en-US</string>
	</dict>
	<key>KLInfo_Gallium Colstag Angle Mod</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISIconIsTemplate</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.gallium.galliumcolstaganglemod</string>
		<key>TISIntendedLanguage</key>
		<string>en-US</string>
	</dict>
	<key>KLInfo_Gallium Colstag Angle Mod QX Reversed</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISIconIsTemplate</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.gallium.galliumcolstaganglemodqxreversed</string>
		<key>TISIntendedLanguage</key>
		<string>en-US</string>
	</dict>
	<key>KLInfo_Gallium Rowstag</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISIconIsTemplate</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.gallium.galliumrowstag</string>
		<key>TISIntendedLanguage</key>
		<string>en-US</string>
	</dict>
	<key>KLInfo_Gallium Rowstag Angle Mod</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISIconIsTemplate</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.gallium.galliumrowstaganglemod</string>
		<key>TISIntendedLanguage</key>
		<string>en-US</string>
	</dict>
	<key>KLInfo_Gallium Rowstag Angle Mod QX Reversed</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISIconIsTemplate</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.gallium.galliumrowstaganglemodqxreversed</string>
		<key>TISIntendedLanguage</key>
		<string>en-US</string>
	</dict>
</dict>
</plist>
